#root {
  margin: 0;
  padding: 0;
}

.body {
  margin: 9.3rem 10vw 0;
}

.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }
.sixth { grid-area: sixth; }
.seventh { grid-area: seventh; }

.gridContainer {
  display: grid;
  grid-template-areas:
    'second first third'
    'fourth first fifth';
  justify-content: space-between;
}

.postSnippet {
  margin: 0 0 1rem 0;
  width: 17vw;
}

.postSnippet:nth-child(1) {
  width: 33vw;
}

.postImageContainer {
  position: relative;
}

.postImage {
  height: auto;
  width: 100%;
}

.tag {
  box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -webkit-box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -moz-box-shadow: -0.12rem 0.12rem 0 0 #657281;
  bottom: 0;
  color: #657281;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1vw;
  padding: 0;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
  width: 8vw;
}

.tagLast {
  width: 10vw;
}

.postHeading, .captionHeader {
  color: #F26A3B;
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1.8vw;
  margin: 1.2vw 0;
}

.headingMain {
  font-size: 2.6vw;
  line-height: 3vw;
}

.postCaption {
  font-size: 0.99vw;
  margin: 0.32rem 0;
}

.labelRecent, .popular, .mostRead {
  display: none;
}

.lowerBody {
  display: flex;
  justify-content: space-between;
  margin: 3.75rem 0 0;
}

.container {
  display: flex;
  margin: 3.13rem 0;
}

.captionImage {
  height: auto;
  width: 21vw;
}

.captionBody {
  margin: 0.63rem 1.25rem;
  width: 33vw;
}

.caption {
  box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -webkit-box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -moz-box-shadow: -0.12rem 0.12rem 0 0 #657281;
  color: #657281;
  font-size: 0.99vw;
  font-weight: 400;
  line-height: 1vw;
  padding: 0;
  width: 9vw;
}

.captionText, .adText {
  font-size: 0.99vw;
  margin: 0.32rem 0;
}

.ad {
  margin: 3.13rem 0;
  position: relative;
  width: 17vw;
}

.adImage {
  width: 100%;
}

.adLogo {
  display: block;
  margin: 0.63rem auto;
}

.adText {
  padding: 0 1.13rem;
}

.adPrint {
  color: #177df3;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 0.94rem;
  position: absolute;
  right: 1.56rem;
  top: -0.94rem;
}

@media only screen and (min-width: 1500px) {
  .body {
    margin: 9.3rem 17rem 0;
  }
  
  .postSnippet {
    width: 18rem;
  }
  
  .postSnippet:nth-child(2) {
    width: 35rem;
  }
  
  .tag, .caption {
    font-size: 0.85rem;
    line-height: 1rem;
    width: 6.5rem;
  }
  
  .tagFlank {
    top: 9.7rem;
  }
  
  .tagMiddle {
    top: 21.8rem;
  }
  
  .tagLast {
    top: 9.7rem;
    width: 8rem;
  }
  
  .headingMain {
    font-size: 2.6rem;
  }
  
  .postCaption, .captionText, .adText {
    font-size: 0.95rem;
  }
    
  .captionImage {
    width: 18rem;
  }

  .captionBody {
    width: 29rem;
  }
  
  .caption {
    width: 8rem;
  }
  
  .captionText {
    width: 31rem;
  }
  
  .ad {
    width: 18rem;
  }
}

@media only screen and (max-width: 600px) {
  .body {
    margin: 8rem 1.3rem 0;
  }
  
  .gridContainer {
    grid-template-areas:
      'first first'
      'sixth sixth'
      'second third'
      'seventh seventh'
      'fourth fifth';
  }
  
  .postSnippet, .container {
    width: 41vw;
  }

  .postSnippet:nth-child(1) {
    width: 87vw;
  }

  .tag {
    display: none;
  }
  
  .postHeading, .captionHeader {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.7rem 0;
  }
  
  .headingMain {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
  
  .postCaption {
    margin: 0.2rem 0;
  }

  .labelRecent, .popular, .mostRead {
    display: block;
  }

  .labels {
    border-left: 4px solid #000;
    color: #F26A3B;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    padding: 10px 15px;
  }

  .mostRead > h2 {
    margin-bottom: 0;
    margin-top: 2rem;
  }
  
  .lowerBody {
    margin: 0;
    width: 100%;
  }

  .articles {
    display: flex;
    justify-content: space-between;
  }

  .container {
    display: block;
    margin-top: 2rem;
  }

  .container:nth-child(1) {
    margin-right: 5vw;
  }

  .container:nth-child(3), .ad {
    display: none;
  }
  
  .captionImage {
    width: 100%;
  }

  .captionBody {
    margin: 0.3rem 0;
    width: 100%;
  }
  
  .captionText, .postCaption {
    font-size: 0.6rem;
    margin: 0.32rem 0;
  }

  .first > .postCaption {
    font-size: 0.8rem;
  }
}
