#root {
  margin: 0;
  padding: 0;
}

.body {
  margin: 3rem 6rem 0;
}

.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }

.grid-container {
  display: grid;
  grid-template-areas:
    'first second third'
    'fourth second fifth';
  justify-content: space-between;
}

.postSnippet {
  margin: 0 0 1rem 0;
  position: relative;
  width: 13rem;
}

.postSnippet:nth-child(2) {
  width: 26rem;
}

.postImage {
  height: auto;
  width: 100%;
}

.tag {
  box-shadow: -.12rem .12rem 0 0 #657281;
    -webkit-box-shadow: -.12rem .12rem 0 0 #657281;
    -moz-box-shadow: -.12rem .12rem 0 0 #657281;
  color: #657281;
  font-size: .75rem;
  font-weight: 400;
  line-height: .91rem;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
  width: 5.5rem;
}

.tagFlank {
  top: 6.88rem;
}

.tagMiddle {
  top: 16.13rem;
}

.tagLast {
  top: 6.88rem;
  width: 7rem;
}

.postHeading, .captionHeader {
  color: #F26A3B;
  font-weight: 500;
  line-height: 1.31rem;
  margin: .94rem 0;
}

.headingMain {
  font-size: 1.92rem;
  line-height: 2.42rem;
}

.postCaption {
  font-size: .75rem;
  margin: .32rem 0;
}

.lowerBody {
  display: flex;
  justify-content: space-between;
  margin: 3.75rem 0 0;
}

.container {
  display: flex;
  margin: 3.13rem 0;
}

.captionImage {
  height: auto;
  width: 16.19rem;
}

.captionBody {
  margin: .63rem 1.25rem;
  width: 25.63rem;
}

.caption {
  box-shadow: -.12rem .12rem 0 0 #657281;
    -webkit-box-shadow: -.12rem .12rem 0 0 #657281;
    -moz-box-shadow: -.12rem .12rem 0 0 #657281;
  color: #657281;
  font-size: .75rem;
  font-weight: 400;
  line-height: .91rem;
  width: 7rem;
}

.captionText, .adText {
  font-size: .75rem;
  margin: .32rem 0;
}

.ad {
  margin: 3.13rem 0;
  position: relative;
  width: 13.75rem;
}

.adLogo {
  display: block;
  margin: .63rem auto;
}

.adText {
  padding: 0 1.13rem;
}

.adPrint {
  color: #177df3;
  font-size: .75rem;
  font-weight: 300;
  line-height: .94rem;
  position: absolute;
  right: 1.56rem;
  top: -.94rem;
}
