#root {
  margin: 0;
  padding: 0;
}

.body {
  margin: 9.3rem 8rem 0;
}

.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }

.gridContainer {
  display: grid;
  grid-template-areas:
    'second first third'
    'fourth first fifth';
  justify-content: space-between;
}

.postSnippet {
  margin: 0 0 1rem 0;
  position: relative;
  width: 13rem;
}

.postSnippet:nth-child(1) {
  width: 26rem;
}

.postImage {
  height: auto;
  width: 100%;
}

.tag {
  box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -webkit-box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -moz-box-shadow: -0.12rem 0.12rem 0 0 #657281;
  color: #657281;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.91rem;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
  width: 5.5rem;
}

.tagFlank {
  top: 6.88rem;
}

.tagMiddle {
  top: 16.13rem;
}

.tagLast {
  top: 6.88rem;
  width: 7rem;
}

.postHeading, .captionHeader {
  color: #F26A3B;
  font-weight: 500;
  line-height: 1.31rem;
  margin: 0.94rem 0;
}

.headingMain {
  font-size: 1.92rem;
  line-height: 2.42rem;
}

.postCaption {
  font-size: 0.75rem;
  margin: 0.32rem 0;
}

.lowerBody {
  display: flex;
  justify-content: space-between;
  margin: 3.75rem 0 0;
}

.container {
  display: flex;
  margin: 3.13rem 0;
}

.captionImage {
  height: auto;
  width: 16.19rem;
}

.captionBody {
  margin: 0.63rem 1.25rem;
  width: 25.63rem;
}

.caption {
  box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -webkit-box-shadow: -0.12rem 0.12rem 0 0 #657281;
    -moz-box-shadow: -0.12rem 0.12rem 0 0 #657281;
  color: #657281;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.91rem;
  width: 7rem;
}

.captionText, .adText {
  font-size: 0.75rem;
  margin: 0.32rem 0;
}

.ad {
  margin: 3.13rem 0;
  position: relative;
  width: 13.75rem;
}

.adLogo {
  display: block;
  margin: 0.63rem auto;
}

.adText {
  padding: 0 1.13rem;
}

.adPrint {
  color: #177df3;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 0.94rem;
  position: absolute;
  right: 1.56rem;
  top: -0.94rem;
}

@media only screen and (min-width: 1500px) {
  .body {
    margin: 9.3rem 17rem 0;
  }
  
  .postSnippet {
    width: 18rem;
  }
  
  .postSnippet:nth-child(2) {
    width: 35rem;
  }
  
  .tag, .caption {
    font-size: 0.85rem;
    line-height: 1rem;
    width: 6.5rem;
  }
  
  .tagFlank {
    top: 9.7rem;
  }
  
  .tagMiddle {
    top: 21.8rem;
  }
  
  .tagLast {
    top: 9.7rem;
    width: 8rem;
  }
  
  .headingMain {
    font-size: 2.6rem;
  }
  
  .postCaption, .captionText, .adText {
    font-size: 0.95rem;
  }
    
  .captionImage {
    width: 18rem;
  }

  .captionBody {
    width: 29rem;
  }
  
  .caption {
    width: 8rem;
  }
  
  .captionText {
    width: 31rem;
  }
  
  .ad {
    width: 18rem;
  }
}

@media only screen and (max-width: 600px) {
  .body {
    margin: 8rem 1.3rem 0;
  }
  
  .gridContainer {
    grid-template-areas:
      'first first'
      'second third'
      'fourth fifth';
  }
  
  .postSnippet, .container {
    width: 41vw;
  }

  .postSnippet:nth-child(1) {
    width: 87vw;
  }

  .tag {
    display: none;
  }
  
  .postHeading, .captionHeader {
    font-size: 13px;
    line-height: 1.2rem;
    margin: 0.7rem 0;
  }
  
  .headingMain {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
  
  .postCaption {
    margin: 0.2rem 0;
  }
  
  .lowerBody {
    margin: 1.5rem 0 0;
    width: 100%;
  }

  .articles {
    display: flex;
    justify-content: space-between;
  }

  .container {
    display: block;
  }

  .container:nth-child(1) {
    margin-right: 5vw;
  }

  .container:nth-child(3), .ad {
    display: none;
  }
  
  .captionImage {
    width: 100%;
  }

  .captionBody {
    margin: 0.3rem 0;
    width: 100%;
  }
  
  .caption {
    box-shadow: -0.12rem 0.12rem 0 0 #657281;
      -webkit-box-shadow: -0.12rem 0.12rem 0 0 #657281;
      -moz-box-shadow: -0.12rem 0.12rem 0 0 #657281;
    color: #657281;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.91rem;
    width: 7rem;
  }
  
  .captionText, .postCaption {
    font-size: 10px;
    margin: 0.32rem 0;
  }

  .first > .postCaption {
    font-size: 12px;
  }
}
