.recentArticles {
  background-color: #ded7d7;
  height: 12.5rem;
}

.sectionHeading {
  color: #657281;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin: 0;
  padding: 1.3rem;
  text-align: center;
}

.recentSection {
  display: flex;
  justify-content: center;
}

.recent {
  display: flex;
}

.articleImage {
  width: 7.8vw;
}

.recentPost {
  margin: 0 1.75vw;
  padding: 0.3rem 0;
  width: 14.9vw;
}

.recentHeading {
  color: #f26a3b;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.9rem;
  margin: 0 0 1rem 0;
}

.recentText {
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.1vw;
}

@media only screen and (min-width: 1500px) {
  .sectionHeading {
    font-size: 1.2rem;
  }

  .recentImage {
    margin: 0 1.4rem;
  }
  
  .recentPost {
    margin: 0;
    width: 18rem;
  }
  
  .recentHeading {
    font-size: 1rem;
  }
  
  .recentText {
    font-size: 0.95rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .recentHeading {
    margin-bottom: 0.7rem;
  }

  .recentText {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .recentArticles {
    height: 16.4rem;
  }

  .sectionHeading {
    padding: 1.1rem;
  }

  .recentSection {
    justify-content: space-between;
    margin: 0 1.3rem;
    width: 87vw;
  }

  .recent {
    display: block;
    width: 22vw;
  }

  .articleImage {
    width: 100%;
  }

  .recentPost {
    margin: 0;
    width: 100%;
  }

  .recentHeading {
    font-size: 0.6rem;
    margin: 0;
  }

  .recentText {
    font-size: 0.6rem;
    margin: 0.2rem 0;
  }
}