.recentArticles {
  height: 12.5rem;
  background-color: #ded7d7;
}

.sectionHeading {
  color: #657281;
  text-align: center;
  margin: 0;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.21rem;
}

.recentSection {
  display: flex;
  justify-content: center;
}

.recent {
  display: flex;
}

.recentPost {
  margin: 0 .63rem;
  padding: .31rem 0;
  width: 11.88rem;
}

.recentHeading {
  color: #f26a3b;
  font-size: .75rem;
  font-weight: 500;
  line-height: .94rem;
  margin: 0 0 1rem 0;
}

.recentText {
  font-size: .75rem;
  font-weight: 300;
  line-height: .94rem;
}
